{% extends 'base.html' %}

{% block title %}
  Início
{% endblock %}

{% load static %}

{% block content %}
  {% include 'quemsomos.html' %}

  <section class="section section-lg bg-gray-1">
    <div class="container">
      <div class="row justify-content-center text-center">
        <div class="col-md-9 col-lg-7 wow-outer">
          <div class="wow slideInDown">
            <h3>Projetos Ser De Luz</h3>
            <p>Conheça nossos projetos impactantes que transformam vidas diariamente.</p>
          </div>
        </div>
      </div>
      <div class="row row-50">
        {% for projeto in projetos %}
          <div class="col-md-6 col-lg-4 wow-outer">
            <div class="wow fadeInUp">
              <article class="box-causes">
                <div class="box-causes-img">
                  {% if projeto.fotoprojeto %}
                    <img src="{{ projeto.fotoprojeto.url }}" alt="" style="width: 372px; height: 396px;" />
                  {% endif %} 
                </div>
                <h4 class="font-weight-medium"><a href="#">LUZ PARA O FUTURO</a></h4>
                <p class="text-justify" class="box-causes-donate">
                  <span class="box-causes-donate-complete">O Luz para o Futuro visa capacitar e conectar jovens em situação de vulnerabilidade a oportunidades de emprego formal.</span>
                </p>
              </article>
            </div>
          </div>
        {% endfor %}        
      </div>
    </div>
  </section>
{% endblock %}
