{% load static %}
</section>
<section class="section section-lg bg-gray-1">
  <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-md-9 col-lg-7 wow-outer">
        <div class="wow slideInDown">
          <h3>Projetos Ser De Luz</h3>
          <p>Conheça nossos projetos impactantes que transformam vidas diariamente.</p>
        </div>
      </div>
    </div>
    <div class="row row-50">
      <div class="col-md-6 col-lg-4 wow-outer">
        <div class="wow fadeInUp">
          <article class="box-causes">
            <div class="box-causes-img"><img src="{%static 'images/luz_futuro.jpeg'%}" alt="" width="372" height="396" /><a
                class="button button-sm button-primary" href="projetos.html">CONHEÇA</a>
            </div>
            <h4 class="font-weight-medium"><a href="#">LUZ PARA O FUTURO</a></h4>
            <p class="text-justify" class="box-causes-donate"><span class="box-causes-donate-complete">O Luz para o
                Futuro visa capacitar e
                conectar jovens em situação de vulnerabilidade a oportunidades de emprego formal.</span>
            </p>
          </article>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow-outer">
        <div class="wow fadeInUp">
          <article class="box-causes">
            <div class="box-causes-img"><img src="{%static 'images/trilha.jpeg'%}" alt="" width="372" height="396" /><a
                class="button button-sm button-primary" href="projetos.html">CONHEÇA</a>
            </div>
            <h4 class="font-weight-medium"><a href="#">PROJETO TRILHAS</a></h4>
            <p class="text-justify" class="box-causes-donate"><span class="box-causes-donate-complete">Esta iniciativa
                inspiradora dentro
                do Ser de Luz é muito mais do que um simples grupo; é um espaço dedicado ao crescimento pessoal e ao
                fortalecimento das virtudes que nos tornam seres humanos melhores e mais conscientes</span>
            </p>
          </article>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow-outer">
        <div class="wow fadeInUp">
          <article class="box-causes">
            <div class="box-causes-img"><img src="{%static 'images/luz_para_elas.jpeg'%}" alt="" width="372" height="396" /><a
                class="button button-sm button-primary" href="projetos.html">CONHEÇA</a>
            </div>
            <h4 class="font-weight-medium"><a href="#">LUZ PARA ELAS</a></h4>
            <p class="text-justify" class="box-causes-donate"><span class="box-causes-donate-complete">Este projeto
                tem como objetivo
                principal capacitar e empoderar mulheres de comunidades vulneráveis, oferecendo-lhes uma fonte de
                renda sustentável por meio da venda direta de peças de vestuário doadas.</span>
            </p>
          </article>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow-outer">
        <div class="wow fadeInUp">
          <article class="box-causes">
            <div class="box-causes-img"><img src="{%static 'images/cuscuzserdeluz.png'%}" alt="" width="372" height="396" /><a
                class="button button-sm button-primary" href="projetos.html">CONHEÇA</a>
            </div>
            <h4 class="font-weight-medium"><a href="#">Cuscuz Ser de Luz</a></h4>
            <p class="text-justify" class="font-weight-medium"><span class="box-causes-donate-complete">Nosso projeto
                'Cuscuz Voluntário às
                Quintas-Feiras' visa distribuir refeições nutritivas e saborosas à comunidade, promovendo
                solidariedade e alimentando esperanças todas as semanas.</span>
            </p>
          </article>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow-outer">
        <div class="wow fadeInUp">
          <article class="box-causes">
            <div class="box-causes-img"><img src="{%static 'images/gruposdeluz.png'%}" alt="" width="372" height="396" /><a
                class="button button-sm button-primary" href="projetos.html">CONHEÇA</a>
            </div>
            <h4 class="font-weight-medium"><a href="#">Grupos de Luz</a></h4>
            <p class="text-justify" class="box-causes-donate"><span class="box-causes-donate-complete">Os Mini
                Projetos de Luz são
                iniciativas focadas em grupos específicos, como saúde, população de rua e combate à fome, visando
                proporcionar cuidado e suporte essencial. Cada projeto é desenhado para atender às necessidades únicas
                dessas comunidades, promovendo dignidade, bem-estar e esperança através de ações práticas e
                impactantes.</span>
            </p>
          </article>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 wow-outer">
        <div class="wow fadeInUp">
          <article class="box-causes">
            <div class="box-causes-img"><img src="{%static 'images/eventosserdeluz.png'%}" alt="" width="372" height="396" /><a
                class="button button-sm button-primary" href="projetos.html">CONHEÇA</a>
            </div>
            <h4 class="font-weight-medium"><a href="#">Eventos Ser de Luz</a></h4>
            <p class="text-justify" class="box-causes-donate"><span class="box-causes-donate-complete">Os eventos
                anuais do Ser de Luz
                celebram datas especiais como Dia das Crianças, Dia das Mães e Natal, oferecendo momentos de alegria,
                solidariedade e apoio às famílias e comunidades que atendemos. Cada evento é uma oportunidade para
                fortalecer laços, compartilhar sorrisos e promover o bem-estar em um ambiente de amor e
                cuidado.</span>
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>