{% load static %}
<section class="section section-xl">
    <div class="container">
      <div class="row row-50 justify-content-lg-between align-items-lg-center">
        <div class="col-lg-6">
          <div class="box-img-animate">
            <div class="box-img-animate-item"
              data-parallax-scroll="{&quot;y&quot;: 0, &quot;x&quot;: 140,  &quot;smoothness&quot;: 50 }"><img
                src="{% static 'images/IMG_SERDELUZ1.png' %}" alt=""></div>
            <div class="box-img-animate-item"
              data-parallax-scroll="{&quot;y&quot;: 150, &quot;x&quot;: 0,  &quot;smoothness&quot;: 50 }"><img
                src="{% static 'images/serdeluz_juntopodemos1.png' %}" alt=""></div>
            <div class="box-img-animate-item"
              data-parallax-scroll="{&quot;y&quot;:70, &quot;x&quot;: -250,  &quot;smoothness&quot;: 50 }"><img
                src="{% static 'images/serdeluz_contribuir1.png '%}" alt=""></div>
            <div class="box-img-animate-item"
              data-parallax-scroll="{&quot;y&quot;:20, &quot;x&quot;: 20,  &quot;smoothness&quot;: 50 }"><img
                src="{% static 'images/serdeluz_ilumindandovidas1.png' %}" alt=""></div>
            <div class="box-img-animate-item"
              data-parallax-scroll="{&quot;y&quot;:60, &quot;x&quot;: 70,  &quot;smoothness&quot;: 50 }"><img
                src="{% static 'images/IMG_SERDELUZ2.png' %}" alt=""></div>
            <div class="box-img-animate-item"
              data-parallax-scroll="{&quot;y&quot;:0, &quot;x&quot;: 140,  &quot;smoothness&quot;: 50 }"><img
                src="{% static 'images/IMG_SERDELUZ3.png' %}" alt=""></div>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5">
          <div class="innset-xl-left-70">
            <h3>QUEM SOMOS</h3>
            <p class="text-justify" class="text-opacity-80">Nossa organização persegue vários objetivos que podem ser
              identificados como
              nossa missão. Saiba mais sobre eles abaixo.</p>
            <div class="row row-50">
              <div class="col-md-6 col-lg-12">
                <div class="box-icon-modern"> <!-- <span class="icon-xl mudar so aqui  icon-primary"></span> -->
                  <div class="box-icon-inner decorate-circle"><span
                      class="icon-xl fa-solid fa-bullseye icon-primary"></span></div>
                  <div class="box-icon-caption">
                    <h4><a href="#">MISSÃO</a></h4>
                    <p class="text-justify">Melhorar a qualidade de vida, saúde e bem-estar da população mais carente
                      através de ações de
                      cunho social e cultural, sanando total ou parcialmente às necessidades encontradas, contribuindo
                      com um mundo melhor e mais igualitário.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-12">
                <div class="box-icon-modern">
                  <div class="box-icon-inner decorate-rectangle"><span
                      class="icon-xl fa fa-eye fa-solid fa-truck-medical icon-primary"></span>
                  </div>
                  <div class="box-icon-caption">
                    <h4><a href="#">VISÃO</a></h4>
                    <p class="text-justify">Ser um projeto de referência na cidade no setor social, contribuindo em grandes escalas com a população em situação de vulnerabilidade social.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-lg-12">
                <div class="box-icon-modern">
                  <div class="box-icon-inner decorate-triangle"><span class="icon-xl fa fa-diamond icon-primary"></span>
                  </div>
                  <div class="box-icon-caption">
                    <h4><a href="#">VALORES</a></h4>
                    <p class="text-justify">Solidariedade, bem-estar biopsicossocial, compromisso, responsabilidade, integridade.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>