{% extends 'base.html' %} 

{% block title %}SOBRE{% endblock %} 

{% load static %}

{% block content %}
    
<section class="section section-lg bg-gray-1 bg-gray-1-decor">
    <div class="container">
      <div class="row row-50">
        <div class="col-lg-6 pr-xl-5"><img src="{% static 'images/serdeluz_geral.jpg' %}" alt="" width="518" height="430" />
        </div>
        <div class="col-lg-6">
          <h3>Sobre Nos</h3>
          <div class="text-with-divider">
            <div class="divider"></div>
            <h4 class="text-opacity-70">Organização não governamental (ONG)
              Há 4 anos transformando vidas. ✨
              <p>+ de 180 voluntários;</p>
              <p>+ de 20 comunidades assistidas;</p>
              <p>+ de 20 toneladas de alimentos entregues.</p>
            </h4>
          </div>
          <p class="text-justify">A ONG Ser de Luz teve origem em Patos, interior da Paraíba, em junho de 2019, com a
            missão de iluminar
            vidas através de ações solidárias de impacto social.</p>
          <p class="text-justify">Desde sua fundação, o objetivo principal tem sido alcançar e transformar a realidade
            de inúmeras pessoas
            em comunidades vulneráveis, tanto no município quanto na zona rural. Através de iniciativas como
            distribuição de alimentos, apoio à saúde, educação e outros programas sociais, a ONG tem trabalhado
            incansavelmente para oferecer esperança, dignidade e oportunidades para aqueles que mais precisam.</p>
          <p class="text-justify">Hoje, com subgrupos específicos, a ONG Ser de Luz amplia seu impacto e alcance.
            Esses subgrupos são
            especializados em diferentes áreas, permitindo uma abordagem mais focada e eficiente nas necessidades das
            comunidades atendidas.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-lg bg-default">
    <div class="container">
      <h3 class="text-center">Grupos de Luz</h3>
      <div class="row row-30 row-md-40 row-xl-60">
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class="icon-xl fa fa-cutlery icon-primary"></span>
            </div>
            <div class="box-icon-caption">
              <h4><a href="#">Fome</a></h4>
              <p>Uma iniciativa da ONG Ser de Luz dedicada à arrecadação e distribuição de alimentos para famílias em
                situação de vulnerabilidade. O projeto visa combater a insegurança alimentar, garantindo que todos
                tenham acesso a refeições nutritivas e adequadas, promovendo assim a dignidade e o bem-estar das
                comunidades atendidas.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class="icon-xl fa fa-handshake-o icon-primary"></span>
            </div>
            <div class="box-icon-caption">
              <h4><a href="#">População de Rua</a></h4>
              <p class="text-justify">Uma ação da ONG Ser de Luz que oferece assistência integral a pessoas em
                situação de rua, incluindo distribuição de alimentos, roupas, atendimento médico e apoio psicológico.
                O objetivo é promover a reintegração social e proporcionar melhores condições de vida para essa
                população vulnerável.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-rectangle"><span class="icon-xl fa fa-star icon-primary"></span>
            </div>
            <div class="box-icon-caption">
              <h4><a href="#">Cultura</a></h4>
              <p class="text-justify">Uma iniciativa da ONG Ser de Luz que promove atividades culturais e artísticas
                nas comunidades, incluindo oficinas, eventos e apresentações. O objetivo é valorizar a diversidade
                cultural, incentivar a expressão artística e fortalecer o senso de identidade e pertencimento.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-circle"><span class="icon-xl fa fa-child icon-primary"></span>
            </div>
            <div class="box-icon-caption">
              <h4><a href="#">Crianças</a></h4>
              <p class="text-justify">Uma ação da ONG Ser de Luz voltada para o desenvolvimento e bem-estar infantil,
                oferecendo atividades educativas, recreativas e de apoio social. O objetivo é proporcionar um ambiente
                seguro e estimulante para as crianças, promovendo seu crescimento saudável e integral.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-triangle"><span class="icon-xl fa fa-paw icon-primary"></span>
            </div>
            <div class="box-icon-caption">
              <h4><a href="#">Animais de Rua</a></h4>
              <p class="text-justify">Uma iniciativa da ONG Ser de Luz que oferece cuidados e proteção para animais em
                situação de rua, incluindo resgate, alimentação, atendimento veterinário e campanhas de adoção. O
                objetivo é reduzir o abandono e promover o bem-estar animal.</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-circle"><span class="icon-xl fa fa-user-md icon-primary"></span>
            </div>
            <div class="box-icon-caption">
              <h4><a href="#">Saúde</a></h4>
              <pclass="text-justify">Uma ação da ONG Ser de Luz que oferece serviços de atendimento médico básico,
                campanhas de vacinação, distribuição de medicamentos e orientação sobre higiene e saúde. O objetivo é
                promover o bem-estar e melhorar a qualidade de vida das comunidades atendidas.</p>
            </div>
          </div>
        </div>
        <div class="d-inline-flex justify-content-start align-items-stretch"></div>
        <div class="col-md-4"></div>
        <div class="col-md-6 col-lg-4">
          <div class="box-icon-modern">
            <div class="box-icon-inner decorate-rectangle"><span class="icon-xl fa fa-home icon-primary"></span>
            </div>
            <div class="box-icon-caption">
              <h4><a href="#">Idosos</a></h4>
              <p class="text-justify">Uma iniciativa da ONG Ser de Luz dedicada ao cuidado e suporte para a terceira
                idade, oferecendo atividades sociais, acompanhamento médico, assistência e promoção do bem-estar. O
                objetivo é garantir dignidade, inclusão e qualidade de vida para os idosos.</p>
            </div>
          </div>
        </div>
  </section>
  <section class="section section-lg bg-gray-1">
    <div class="container">
      <h3 class="text-center">Conselho</h3>
      <div class="row no-gutters">
        <div class="col-md-6 col-lg-4">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="{% static 'images/geovanny.jpg' %}" alt="" width="390"
                height="252" />
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/geovannylima/"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Geovanny Lima</a></h4>
              <p>Diretor Fundador</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="{% static 'images/corrinha.png' %}" alt="" width="390"
                height="252" />
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/mariaals0/"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Maria do Socorro (Corrinha)</a></h4>
              <p>Vice-Presidente</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="{% static 'images/corrinha.pngimages/maeva.png' %}" alt="" width="390"
                height="252" />
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/maevaquerinoa/"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Maeva Querino</a></h4>
              <p>Financeiro</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="{% static 'images/felipe.PNG' %}" alt="" width="390"
                height="252" />
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/eufeolive/"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Felipe Oliveira</a></h4>
              <p>Captação de Recursos</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="{% static 'images/amanda.png' %}" alt="" width="390"
                height="252" />
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="https://www.facebook.com/amandaligia/"></a></li>
                <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/amandaligia1/"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Amanda Lígia</a></h4>
              <p>Coordenação da Sede</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4">
          <div class="team-classic">
            <div class="team-classic-figure"><img src="{% static 'images/team-classic-6-390x252.jpg' %}" alt="" width="390"
                height="252" />
              <ul class="team-classic-soc-list">
                <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                <li><a class="icon icon-md fa-instagram" href="#"></a></li>
              </ul>
            </div>
            <div class="team-classic-caption">
              <h4><a class="team-name" href="#">Ivamessia Lima</a></h4>
              <p>Diretora Administrativa</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
     
{% endblock %}