{% load static %}
<h1>NAVBAR</h1>
<nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed"
    data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static"
    data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static"
    data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px"
    data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true"
    data-xxl-stick-up="true">
    <div class="rd-navbar-main-outer">
        <div class="rd-navbar-main">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="inicio.html"><img class="brand-logo-serdeluz"
                            src="images/serdeluz_luz.png" alt="" width="125" height="150" /></a></div>
            </div>
            <div class="rd-navbar-main-element">
                <div class="rd-navbar-nav-wrap">
                    <!-- RD Navbar Nav-->
                    <ul class="rd-navbar-nav">
                        <li class="rd-nav-item active"><a class="rd-nav-link" href="inicio.html">Inicio</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="sobre.html">Sobre</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="projetos.html">Projetos</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="galeria.html">Galeria</a>
                        </li>
                        <li class="rd-nav-item"><a class="rd-nav-link" href="contatos.html">Contatos</a>
                        </li>
                    </ul><a class="button button-primary button-sm" href="modal/chave.html">Doar</a>
                </div>
            </div><a class="button button-primary button-sm" href="modal/chave.html">Doar</a>
        </div>
    </div>
</nav>