{% load static %}
<section class="parallax-container bg-gray-600" data-parallax-img="">
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-9 col-lg-8 col-xl-8 wow-outer">
            <div class="innset-xl-right-30 innset-xl-left-30">
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </section></a>
  <!-- Page Footer-->
  <footer class="section footer-minimal context-dark">
    <div class="container wow-outer">
      <div class="wow fadeIn">
        <div class="row row-50 row-lg-60">
          <div class="col-12"><a href=""><img src="{% static 'images/Ser de Luz.png'%}" alt="" width="207" height="51" /></a></div>
          <div class="col-12">
            <ul class="footer-minimal-nav">
              <li><a href="">Inicio</a></li>  
              <li><a href="sobre.html">Sobre</a></li>
              <li><a href="projetos.html">Projetos</a></li>
              <li><a href="contatos.html">Contatos</a></li>
            </ul>
          </div>
          <div class="col-12">
            <ul class="social-list">
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-brands fa-facebook" href="https://www.facebook.com/profile.php?id=61555109314468"></a></li>
              <li><a class="icon icon-sm icon-circle icon-circle-md icon-bg-white fa-brands fa-instagram" href="https://www.instagram.com/serdeluzpb/"></a></li>
            </ul>
          </div>
        </div>
        <p class="rights"><span>&copy;&nbsp;</span><span class="copyright-year"></span><span>&nbsp;</span><span>Ser de Luz</span><span>.&nbsp;</span><span>ADTech.</span></p>
      </div>
    </div>
  </footer>
  </div>