{% load static %}

{% block content %}
<section class="section section-lg bg-gray-1">
    <div class="container">
        <h3 class="text-center">Conselho</h3>
        </br>
        <div class="row no-gutters">
            {% for conselheiro in conselheiros %}
                <div class="col-md-6 col-lg-4">
                <div class="team-classic">
                    <div class="team-classic-figure">
                        {% if conselheiro.foto %}
                        <img src="{{ conselheiro.foto.url }}" alt=""
                            style="width: 200px; height: 200px;" />
                        {% endif %}
                        <!--<img src="{% static 'images/geovanny.jpg' %}" alt="" width="390" height="252" />-->
                        <ul class="team-classic-soc-list">
                            <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-md fa-instagram" href="{{ conselheiro.instagra }}"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-classic-caption">
                        <h4><a class="team-name" href="#">{{ conselheiro.name }}</a></h4>
                        <p>{{ conselheiro.funcao }}</p>
                    </div>
                </div>
                </div>
            {% endfor %}
        
        <!--<div class="col-md-6 col-lg-4">
                <div class="team-classic">
                    <div class="team-classic-figure"><img src="{% static 'images/geovanny.jpg' %}" alt="" width="390"
                            height="252" />
                        <ul class="team-classic-soc-list">
                            <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/geovannylima/"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-classic-caption">
                        <h4><a class="team-name" href="#">Geovanny Lima</a></h4>
                        <p>Diretor Fundador</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-classic">
                    <div class="team-classic-figure"><img src="{% static 'images/corrinha.png' %}" alt="" width="390"
                            height="252" />
                        <ul class="team-classic-soc-list">
                            <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/mariaals0/"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-classic-caption">
                        <h4><a class="team-name" href="#">Maria do Socorro (Corrinha)</a></h4>
                        <p>Vice-Presidente</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-classic">
                    <div class="team-classic-figure"><img src="{% static 'images/maeva.png' %}" alt="" width="390"
                            height="252" />
                        <ul class="team-classic-soc-list">
                            <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-md fa-instagram"
                                    href="https://www.instagram.com/maevaquerinoa/"></a></li>
                        </ul>
                    </div>
                    <div class="team-classic-caption">
                        <h4><a class="team-name" href="#">Maeva Querino</a></h4>
                        <p>Financeiro</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-classic">
                    <div class="team-classic-figure"><img src="{% static 'images/felipe.PNG' %}" alt="" width="390"
                            height="252" />
                        <ul class="team-classic-soc-list">
                            <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/eufeolive/"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-classic-caption">
                        <h4><a class="team-name" href="#">Felipe Oliveira</a></h4>
                        <p>Captação de Recursos</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-classic">
                    <div class="team-classic-figure"><img src="{% static 'images/amanda.png' %}" alt="" width="390"
                            height="252" />
                        <ul class="team-classic-soc-list">
                            <li><a class="icon icon-md fa-facebook" href="https://www.facebook.com/amandaligia/"></a>
                            </li>
                            <li><a class="icon icon-md fa-instagram" href="https://www.instagram.com/amandaligia1/"></a>
                            </li>
                        </ul>
                    </div>
                    <div class="team-classic-caption">
                        <h4><a class="team-name" href="#">Amanda Lígia</a></h4>
                        <p>Coordenação da Sede</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="team-classic">
                    <div class="team-classic-figure"><img src="{% static 'images/ivaa.png' %}" alt="" width="390"
                            height="252" />
                        <ul class="team-classic-soc-list">
                            <li><a class="icon icon-md fa-facebook" href="#"></a></li>
                            <li><a class="icon icon-md fa-instagram" href="#"></a></li>
                        </ul>
                    </div>
                    <div class="team-classic-caption">
                        <h4><a class="team-name" href="#">Ivamessia Lima</a></h4>
                        <p>Diretora Administrativa</p>
                    </div>
                </div>
            </div>
        </div> -->
    </div>
</section>
{% endblock %}